{% import 'helper/funcs.html.j2' as f %} <!-- Library of helper functions -->
<!DOCTYPE html>
<html lang="en">
    {% include "helper/header.html.j2" %}
    <body>
        {% include "helper/nav.html.j2" %}

        <!-- Page Header -->
        <header class="masthead" style="background-image: url('{{static}}/img/{% block image %}{% endblock %}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                    {% block pageheader %}
                        <div class="site-heading">
                            <h1>{% block title %}{% endblock %}</h1>
                            <span class="subheading">{% block subtitle %}{% endblock %}</span>
                        </div>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <hr>
        {% include "helper/footer.html.j2" %}

        <!-- Bootstrap core JavaScript -->
        <script src="{{static}}/vendor/jquery/jquery.min.js"></script>
        <script src="{{static}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="{{static}}/js/clean-blog.min.js"></script>

    </body>
</html>

