{% extends "helper/base.html.j2" %}

{% block title %}History{% endblock %}
{% block subtitle %}2019-2020{% endblock %}
{% block image %}homescreen.jpg{% endblock %}

{% block content %}
<h1>Montgomery Blair Informatics Tournament</h1>
<details>
    <summary>Winners</summary>

    <p>1st Place - <i>Omkar Bhalerao, Havish Malladi, Danny Mittal, Patrick Zhang </i></p>
    <p>2nd Place - <i> Divjot Bedi, Aneesh Boreda, Derrick Liang, Suchet Sapre </i></p>
    <p>3rd Place - <i>Justin Choi, Stephen Huan, Udbhav Muthakana, Kevin Son </i></p>

</details>
<h1>University of Pennsylvania PClassic Fall</h1>
<details>
    <summary>Winners</summary>
    <p>2nd Place - <i>Ray Bai, Omkar Bhalerao, Danny Mittal, Patrick Zhang</i></p>
</details>
<h1>Virginia Tech High School Programming Contest</h1>
<details>
    <summary>Winners</summary>

    <p>1st Place - <i>Ray Bai, Danny Mittal, Patrick Zhang </i></p>
    <p>4th Place - <i>Neeyanth Kopparapu, Havish Malladi, Richard Zhan</i></p>
</details>
<h1>MIT Battlecode</h1>
<details>
    <summary>Winners</summary>

    <p>1st Place High School - <i>Neeyanth Kopparapu, Havish Malladi, Richard Zhan, Patrick Zhang</i></p>
    <p>7th Place Overall - <i>Neeyanth Kopparapu, Havish Malladi, Richard Zhan, Patrick Zhang</i></p>
</details>
{% endblock %}

