{% extends "layout.html" %}
{% block title %}Competitions{% endblock %}
{% block body %}
<h4>USACO (USA Computing Olympiad)</h4>
<p class="comp">USACO is the largest and most prominent contest the SCT competes in.  Throughout the year, there will be six 3-5 hour contests which will be taken individually at home.  The 7th and final contest is the US Open, which is a 4 hour contest given at school.  At the end of the year, 15 students from the USA are choosen to go to USACO Training Camp, of which four are then are selected to compete in the Internationial Olympiad in Informatics (IOI). Getting to USACO Training Camp is a great achievement and is what every SCT member should strive for individually.</p>

<p class="comp">Register for USACO by clicking <a href="http://train.usaco.org">here</a>. At that link, you will also find the Training Pages, the BEST online resource for training. Check out old contests at <a href="http://ace.delos.com/contestgate">this page</a>, which will also be the gate for current contests (if there is one).</p>
<h4>ACM (Association of Computing Machinery)</h4>
<p class="comp">ACM has two contests, one at the University of Maryland (UMD) and one at the Virginia Commonwealth University (VCU).  The top 4 students based on various ranking go to UMD and the next 4 go to VCU.  In some years, we also sent a team to the University of Virginia contest.  The contests are taken as a team and Java is usually the only programming language allowed.</p>
<h4>IPSC (Internet Problem Solving Contest)</h4>
<p class="comp">IPSC is a 5 hour contest taken in May or June, in which teams of up to 3 people have to solve 8 problems or so using math, logic, and programming skills.  This is a lot of fun and was once taken in school.</p>
<h4>TopCoder Open and TopCoder High School</h4>
<p class="comp">TopCoder is another online competition, similar to USACO.  Competitors are typically given three problems, each worth a different value of points.  He/She will join a room with other people of relatively similar ratings, and have 1 hr 15 mins to complete the problems.  After coding, the user may choose to continue to challenge phase, in which the user may view his/her opponent's source code and submit test cases.  If the opponent's program fails to correctly input the solution, the challenger gains extra points.</p>
{% endblock %}
