{% extends "helper/base.html.j2" %}

{% block title %} TJ SCT {% endblock %}
{% block subtitle %} Thomas Jefferson Senior Computer Team {% endblock %}
{% block image %}homescreen.jpg{% endblock %}

{% block content %}
<h3>Welcome to SCT!</h3>
<p>Welcome to Thomas Jefferson's Senior Computer Team! The Senior Computer Team, or SCT, meets every Friday A-block. Our objective is to practice and enhance problem-solving skills involving programming. We compete in several contests, including USACO, Codeforces, and ACM on the national and international level. Please come by!</p>
{% endblock %}

