{% extends "layout.html" %}
{% block title %}Lectures{% endblock %}
{% block body %}

{% for year, lectures in lectures_by_year.items() %}
<h4>{{ year }} Lectures</h4>
<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Date</th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric">Level</th>
            <th class="mdl-data-table__cell--non-numeric">Author</th>
        </tr>
    </thead>
    <tbody>
        {% for l in lectures %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                {% if l.formatted_date %}{{ l.formatted_date }}{% else %}<i>No date</i>{% endif %}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                {% if l.link %}<a href="{{ l.link }}">{{ l.title }}</a>
                {% else %}<em>{{ l.title }}</em>{% endif %}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                {% if l.level %}{{ l.level }}{% else %}<i>No level</i>{% endif %}
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                {% if l.author %}{{ l.author }}{% else %}<i>No author</i>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}
