{% extends "helper/base.html.j2" %}

{% block title %}Lectures{% endblock %}
{% block subtitle %}{% endblock %}
{% block image %}lectures.jpg{% endblock %}

{% block content %}
{% for year, lectures in lectures_by_year.items() %}
{% set path = "{}/lectures/{}{}/".format(url, year[2:4], year[-2:]) %} 
<div id="index">
    <h4>{{ year }} Lectures </h4>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                {% for size, col in [("20", "Date"),  ("40", "Title"),
                                     ("15", "Level"), ("25", "Author")] %}
                    <th scope="col" style="width: {{ size  }}%!important">{{ col }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for l in lectures %}
                <tr>
                    <td> 
                        {{ f.get(l.formatted_date, "<i>No date</i>") }}
                    </td>
                    <td> 
                        {% if l.filename %}<a href="{{ path + l.filename }}">{{ l.title }}</a>
                        {% else %}<em>{{ l.title }}</em>{% endif %}
                    </td>
                    <td> 
                        {{ f.get(l.level, "<i>No Level</i>") }}
                    </td>
                    <td> 
                        {{ f.get(l.author, "<i>No Author</i>") }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}

