{% extends "layout.html" %}
{% block title %}Lectures{% endblock %}
{% block body %}
<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2016-2017 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">December 2, 2016 - <a href="lectures/1617/2016-12-02_Advanced_Dynamic_Programming.pdf">Advanced Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">December 2, 2016 - <a href="lectures/1617/2016-12-02_Intro_Dynamic_Programming.pdf">Intro Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">November 11, 2016 - <a href="lectures/1617/2016-11-11_string_searching.pdf">String Searching</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 28, 2016 - <a href="lectures/1617/2016-10-28_Segment_Trees.pdf">Segment Trees</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 28, 2016 - <a href="lectures/1617/2016-10-28_Shortest_Paths.pdf">Shortest Paths</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 21, 2016 - <a href="lectures/1617/2016-10-21_LCA_and_2_n_Jump_Pointers.pdf">LCA and 2<sup>n</sup> Jump Pointers</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 21, 2016 - <a href="lectures/1617/2016-10-21_Recursion_and_DFS.pdf">Recursion and DFS</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 3, 2016 - <a href="lectures/1617/2016-10-03_MST.pdf">Minimum Spanning Trees</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 3, 2016 - <a href="lectures/1617/2016-10-03_Elementary_Algorithms.pdf">Elementary Algorithms</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">September 30, 2016 - <a href="lectures/1617/2016-09-30_Union_Find.pdf">Union-Find</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">September 30, 2016 - <a href="lectures/1617/2016-09-30_Computational_Complexity.pdf">Computational Complexity</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">September 23, 2016 - <a href="lectures/1617/2016-09-23_Orientation.pdf">Orientation Lecture</a></td>
        </tr>
    </tbody>
</table>
 
<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2015-2016 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 17, 2016 - <a href="lectures/1516/SCT_Kevin_and_Trees.pdf">Kevin and Trees</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 13, 2016 - <a href="lectures/1516/SCT_Nondeterministic_Algorithms.pdf">Nondeterministic Algorithms</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 13, 2016 - <a href="lectures/1516/SCT_Polynomial.pdf">Fast Multiplication: Karatsuba and FFT</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 5, 2016 - <a href="lectures/1516/SCT_Hashing.pdf">Hashing</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">March 11, 2016 - <a href="lectures/1516/SCT_DSU.pdf">Union-Find and Kruskal</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">February 12, 2016 - <a href="lectures/1516/SCT_Dynamic_Programming.pdf">Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">December 11, 2015 - <a href="lectures/1516/SCT_Segment_Tree.pdf">√n Bucketing and Segment Tree</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">December 4, 2015 - <a href="lectures/1516/SCT_2_n_Dynamic_Programming.pdf">2^n Dynamic Programming and Masking</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">November 13, 2015 - <a href="lectures/1516/SCT_Maximum_Flow.pdf">Maximum Flow</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 16, 2015 - <a href="lectures/1516/SCT_Tarjans_Algorithm.pdf">Tarjan's Algorithm</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 16, 2015 - <a href="lectures/1516/SCT_Graph_Theory_Review.pdf">Graph Theory Review</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 16, 2015 - <a href="lectures/1516/SCT_Sample_IO.pdf">Sample I/O</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">September 25, 2015 - <a href="lectures/1516/SCT_Orientation_1516.pdf">Welcome to Senior Computer Team!</a></td>
        </tr>
    </tbody>
</table>
<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2014-2015 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 22, 2015 - <a href="lectures/1415/SCT_Multiplying_Polynomials.pdf">Multiplying Polynomials</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 22, 2015 - <a href="lectures/1415/SCT_Heavy-Light_Decomposition.pdf">Heavy-Light Decomposition</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 15, 2015 - <a href="lectures/1415/SCT_Game_Theory.pdf">Game Theory</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 7, 2015 - <a href="lectures/1415/SCT_Cryptography.pdf">Cryptography</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">May 1, 2015 - <a href="lectures/1415/SCT_Math_Programming.pdf">Math Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">April 23, 2015 - <a href="lectures/1415/SCT_Dynamic_Programming.pdf">Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">April 10, 2015 - <a href="lectures/1415/SCT_Convex_Hull.pdf">Convex Hull</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">March 27, 2015 - <a href="lectures/1415/SCT_Lowest_Common_Ancestor.pdf">Lowest Common Ancestor</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">February 13, 2015 - <a href="lectures/1415/Probabilistic_Data_Structures.pdf">Probabilistic Data Structures</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">January 16, 2015 - <a href="lectures/1415/SCT_Line_Sweep.pdf">Line Sweep</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 23, 2014 - <a href="lectures/1415/SCT_Minimum_Spanning_Trees_2014.pdf">Minimum Spanning Trees</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 10, 2014 - <a href="lectures/1415/SCT_Complexity_Theory.pdf">Complexity Theory</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 10, 2014 - <a href="lectures/1415/meet_middle_10_10_14.pdf">Meet-in-the-Middle</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 3, 2014 - <a href="lectures/1415/stringmatching_10_3_14.pdf">String Matching</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2013-2014 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">December 13, 2013 - <a href="lectures/1314/union_find_12_13_13.pdf">Union Find</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">December 6, 2013 - <a href="lectures/1314/impartial_games_12_06_13.pdf">Impartial Games</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">December 6, 2013 - <a href="lectures/1314/intro_comp_geo_12_06_13.pdf">Introduction to Computational Geometry</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">November 15, 2013 - <a href="lectures/1314/contest_strategy_11_15_13.pdf">Contest Strategy</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">November 8, 2013 - <a href="lectures/1314/intro_dp_11_08_13.pdf">Introduction to Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">November 1, 2013 - <a href="lectures/1314/string_matching_11_01_13.pdf">String Matching</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 30, 2013 - <a href="lectures/1314/dijkstra_10_30_13.pdf">Dijkstra's Algorithm</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 18, 2013 - <a href="lectures/1314/graph_searching_10_18_13.pdf">Graph Searching</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 18, 2013 - <a href="lectures/1314/binary_search_10_18_13.pdf">Binary Search</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 11, 2013 - <a href="lectures/1314/flood_fill_10_11_13.pdf">Flood Fill</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 4, 2013 - <a href="lectures/1314/binary_indexed_trees(part_1)_10_04_13.pdf">Binary Indexed Trees (Part 1)</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">October 4, 2013 - <a href="lectures/1314/complexity_theory_10_04_13.pdf">Complexity Theory</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">September 27, 2013 - <a href="lectures/1314/intro_to_sct_09_27_13.pdf">Introduction to Senior Computer Team 13-14</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2012-2013 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/fft.pdf">Fast Fourier Transform</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/Cryptography_Guest.pdf">Cryptography</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/Greedy_Bronze_Lecture.pdf">Greedy</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/sct___Dynamic_Programming_Practice_1.pdf">Dynamic Programming Practice</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/DP_Problem_Set.pdf">Advanced Dynamic Programming Practice</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/dphard.pdf">Sliding Window Maximum</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/bit_09_28_12.pdf">Binary Indexed Trees</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1213/complexity_09_28_12.pdf">Computational Complexity</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2011-2012 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <!-- the following 2 lectures by Nick Haliday were originally commented out for some reason... -->
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/order.pdf">Order and the Lack Thereof</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/string.pdf">String Algorithms</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/binomheap.pdf">Binomial Heaps</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/silver-data-struct.pdf">Intermediate Data Structures</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/networkflow.pdf">Introduction to Network Flow</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/dpalbert.pdf">Dynamic Programming Practice<a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/compgeo.pdf">Intermediate Computational Geometry</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/compgeo2.pdf">Introduction to Computational Geometry</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/GraphProblems.pdf">Graph Theory Practice</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/b_practice.pdf">Bronze Challenge Problem</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/shortest-paths.pdf">Shortest Paths</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/adhoc.pdf">Ad Hoc and Bronze Practice</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/moredp.pdf">DP Techniques</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/UsefulAlgorithmsAndProgrammingTechniques-2.pdf">Useful Algorithms and Programming Techniques (by Billy Moses)</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/strings111811.pdf">String Manipulation Tricks</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/USACOgreedy.pdf">Greedy Algorithms</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/rquery102811.pdf">The Range Query Problem</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/basic-data-struct.pdf">Basic Data Structures</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/binary102111.pdf">Binary Search Applications</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/complexity102111.pdf">Complexity Theory</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/dp101411.pdf">Introduction to Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/codingprac101411.pdf">Contest Coding Tips</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/advgraphtheory100711.pdf">Advanced Graph Theory</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/graphtheory100711.pdf">Intermediate Graph Theory</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/bfsdfs100711.pdf">Basic Graph Theory</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1112/intro093011.pdf">Introduction to Senior Computer Team 11-12</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2010-2011 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/adv-graph-theory.pdf">Advanced Graph Theory Topics</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/union-find.pdf">Disjoint Set Data Structures</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/bsearch.pdf">Binary Search</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/shortest_path_algos.pdf">Shortest Path Algorithms</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/greedy-2010.pdf">Greedy Algorithms</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/contest-strategy.pdf">Contest Strategy</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/dpgold.pdf">Dynamic Programming for Contests</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/1011/sct-intro.pdf">Introduction to Senior Computer Team 10-11</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2009-2010 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0910/network_flow.pdf">Network Flow</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0910/convex_hull.pdf">Convex Hull</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0910/comp_geo.pdf">Computational Geometry</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0910/contest_strategy.pdf">Contest Strategy</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0910/DP.pdf">Dynamic Programming (Silver)</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2007-2008 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0708/graphcondensed.pdf">Graph Theory Condensed</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0708/dpintro.pdf">Intro Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0708/dpadvanced.pdf">Advanced Dynamic Programming</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0708/adhocadvanced.pdf">Advanced Ad Hoc</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2006-2007 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/CompGeom.pdf">Advanced Computational Geometry Pt.1</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/netflownew.pdf">Network Flow</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/compgeo.pdf">Computational Geometry</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/newgraph2.pdf">Graph Theory Pt 2</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/graph1.pdf">Graph Theory Pt 1</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/greedy0607.pdf">The Greedy Algorithm</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/contest1sol.pdf">Solutions</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/contest1.pdf">Contest 1</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0607/SCT.odp">Name that Algorithm Powerpoint</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2004-2005 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0405/graph2.pdf">Graph Theory II</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0405/dp1.pdf">Dynamic Programming</a></td>
        </tr>
    </tbody>
</table>

<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">2003-2004 Lectures</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0304/problems3.pdf">Practice Problems 3</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0304/problems2.pdf">Practice Problems 2</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0304/problems.pdf">Practice Problems 1</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0304/greedy.pdf">The Greedy Algorithm</a></td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="lectures/0304/netflow.pdf">Network Flow</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}
