{% extends "helper/base.html.j2" %}

{% block title %}Lectures{% endblock %}
{% block subtitle %}{% endblock %}
{% block image %}lectures.jpg{% endblock %}

{% block content %}
{% for year, lectures in lectures_by_year.items() %}
<div id="index">
    <h4>{{ year }} Lectures </h4>
    <table class="mdl-data-table mdl-js-data-table lectures-table">
        <thead>
            <tr>
            {% for col in ["Date", "Title", "Level", "Author"] %}
                <th class="mdl-data-table__cell--non-numeric">{{ col }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for l in lectures %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ f.get(l.formatted_date, "<i>No date</i>") }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {% if l.link %}<a href="{{ l.link }}">{{ l.title }}</a>
                    {% else %}<em>{{ l.title }}</em>{% endif %}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ f.get(l.level, "<i>No level</i>") }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ f.get(l.author, "<i>No author</i>") }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}

