{% extends "layout.html" %}
{% block title %}Lectures{% endblock %}
{% block body %}

{% for year, lectures in years %}
<table class="mdl-data-table mdl-js-data-table lectures-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">{{ year }} Lectures</th>
        </tr>
    </thead>
    <tbody>
		{% for l in lectures %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
		{{ l.Date }} - 
		<a href="{{ l.Link }}">{{ l.Title }}</a>
	    </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}
