{% extends "helper/base.html.j2" %}

{% block title %}Useful Links{% endblock %}
{% block subtitle %}{% endblock %}
{% block image %}links.jpg{% endblock %}

{% block content %}
<h4>SCT links</h4>
{{ f.list_links([
("mailto:tjhsstsctcaptains@gmail.com", "Email"),
("http://codeforces.com/group/M4wsRWBHyZ/", "Codeforces group"),
("https://www.facebook.com/groups/tjsct/", "Facebook group"),
("https://github.com/tjsct", "GitHub organization"),
("https://www.youtube.com/channel/UCWWLFEOtiP4xTCN0SgQIR9g", "YouTube channel")
]) }}

<h4>Resources</h4>
{{ f.list_links([
("https://github.com/alwayswimmin/cs_guide", "Samuel Hsiang's Crash Course Coding Companion"),
("http://usaco.org/index.php?page=resources", "USACO list of resources"),
]) }}

<h4>Contests</h4>
{{ f.list_links([
("http://usaco.org/", "USA Computing Olympiad Contest Gateway"),
("http://train.usaco.org/", "USA Computing Olympiad Training Page"),
("http://acm.sgu.ru/olimp/", "Saratov Online Grader"),
("https://www.spoj.com/", "Sphere Online Judge"),
("https://icpcarchive.ecs.baylor.edu/", "ACM Problem Archive"),
("http://ipsc.ksp.sk", "Internet Problem Solving Contest"), 
("http://www.topcoder.com/tc", "TopCoder"),
("https://www.nacloweb.org/", "North American Computational Linguistics Olympiad"),
]) }}

</ul>
{% endblock %}

