{% extends "layout.html" %}
{% block title %}Links{% endblock %}
{% block body %}
<h4>SCT links<h4>
<ul>
    <li><a href="https://lists.tjhsst.edu/listinfo/scteam/">Mailing list</a></li>
    <li><a href="http://codeforces.com/group/M4wsRWBHyZ/">Codeforces group</a></li>
    <li><a href="https://www.facebook.com/groups/tjsct/">Facebook group</a></li>
    <li><a href="https://github.com/tjsct">GitHub organization</a></li>
</ul>

<h4>Resources</h4>
<ul>
    <li><a href="https://github.com/alwayswimmin/cs_guide">Samuel Hsiang's Crash Course Coding Companion</a></li>
    <li><a href="http://usaco.org/index.php?page=resources">USACO list of resources</a></li>
</ul>

<h4>Contests</h4>
<ul>
    <li><a href="http://usaco.org/">USA Computing Olympiad Contest Gateway</a></li>
    <li><a href="http://train.usaco.org/" target="blank">USA Computing Olympiad Training Page</a></li>
    <li><a href="http://acm.sgu.ru/" target="blank">Saratov Online Grader</a></li>
    <li><a href="http://www.spoj.pl/" target="blank">Sphere Online Judge</a></li>
    <li><a href="http://acm.uva.es/problemset" target="blank">ACM Problem Archive</a></li>
    <li><a href="http://ipsc.ksp.sk" target="blank">Internet Problem Solving Contest</a></li>
    <li><a href="http://www.topcoder.com/tc" target="blank">TopCoder</a></li>
    <li><a href="http://www.naclo.cs.cmu.edu" target="blank">North American Computational Linguistics Olympiad</a></li>
</ul>
{% endblock %}
