{% extends "helper/base.html.j2" %}

{% block title %}Schedule{% endblock %}
{% block subtitle %}{% endblock %}
{% block image %}schedule.jpg{% endblock %}

{% block content %}
<div id="index" class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTcJXO5sf2hS4uA-ZtVVoN75J7xXkhtSScVwQDRT1U3xg6kAVt6NTCiSHaOeID0jXB1Vgk2VJHbIEhQ/pubhtml?gid=927663387&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</div>
{% endblock %}

