{% extends "helper/base.html.j2" %}

{% block title %}Schedule{% endblock %}
{% block subtitle %}{% endblock %}
{% block image %}schedule.jpg{% endblock %}

{% block content %}
<div id="index" class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQsugV6RNZjnVi-UqtLzsWBax4YzU0iNSGLhyWzqg0ectvpB7_50hUflImA2jo6tCyJQLG7Nfc_qVkg/pubhtml"></iframe>
</div>

{% endblock %}

