<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TJ SCT - USACO Scores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue-red.min.css" />
    <style>
        .content {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px 36px;
        }
    </style>
</head>
<body>
<div class="mdl-layout">
<div class="content mdl-layout__content">
    <h1>USACO Scores</h1>
    <h3>2015-16 Platinum Scores (pre-college)</h3>
    <p>View: <a href="?">USA only</a> / <a href="?international=1">International</a></p>
    <table class="mdl-data-table">
        <thead>
            <tr>
                <th>#</th>
                <th class="mdl-data-table__cell--non-numeric">Country</th>
                <th class="mdl-data-table__cell--non-numeric">Year</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>December</th>
                <th>January</th>
                <th>February</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for c in query %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ c.country }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ c.gradyear }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ c.name }}</td>
                <td>{{ c.score_dec }}</td>
                <td>{{ c.score_jan }}</td>
                <td>{{ c.score_feb }}</td>
                <td><strong>{{ c.score_total }}</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</body>
</html>
